<!--The content below is only a placeholder and can be replaced.-->

<body>
  <div>
    <div id="RegForm">
      <form (submit)=setData($event)>
        <div class="field">
          <label for="name">First Name: </label>
          <input type="text" name="FirstName" id="name" placeholder="Enter your name">
        </div>
        <div class="field">
          <label for="message">Last Name: </label>
          <input type="text" id="LastName" placeholder="Enter your last name">
        </div>
        <div class="field">
          <label for="email">Email: </label>
          <input type="email" name="email" id="email" placeholder="Enter your email">
        </div>
        <div class="field">
          <label for="age">age: </label>
          <input type="number" id="number" min="18">
        </div>
        <div class="field">
          <label for="address">address: </label>
          <input type="text" id="message">
        </div>
        <div class="field">
          <label for="state">State: </label>
          <input type="text" id="State">
        </div>
        <div class="field">
          <label for="message">Message: </label>
          <textarea name="message" id="message"></textarea>
        </div>
        <div class="field">
          <input type="submit" value="send">
        </div>
      </form>
    </div>
    <div class="display">
      <div>
        First Name: <span>{{getData('k1')}}</span>
      </div>
      <div>
        Last Name: <span>{{getData('k2')}}</span>
      </div>
      <div>
        Email: <span>{{getData('k3')}}</span>
      </div>
      <div>
        age: <span>{{getData('k4')}}</span>
      </div>
      <div>
        address: <span>{{getData('k5')}}</span>
      </div>
      <div>
        state: <span>{{getData('k6')}}</span>
      </div>
      <div>
        Message: <span>{{getData('k7')}}</span>
      </div>
    </div>
  </div>
</body>